
{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>
    
    Welcome to out about paage. We are looking to add more
    Information to this page. Just explaining my journey to learning Golang (;-)
    </P>
{{end}}